
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Batman parafernalia</span>
            <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
            <span class="example-spacer"></span>
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
              </button>
            <a mat-button routerLink="/cart" routerLinkActive="active">Cart</a>
            <a mat-button routerLink="/account" routerLinkActive="active">Account</a>
    </mat-toolbar-row>
</mat-toolbar>